<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>com.sid.redhat.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Mapper</servlet-name>
        <servlet-class>com.sid.redhat.Mapper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mapper</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>invokeEJB</servlet-name>
        <servlet-class>com.sid.ejb.jwt.invokeEJB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invokeEJB</servlet-name>
        <url-pattern>/invokeEJB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>ALL</display-name>
        <web-resource-collection>
            <web-resource-name>ALL</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>KEYCLOAK-SAML</auth-method>
    </login-config>
    <security-role>
        <role-name>*</role-name>
    </security-role>
</web-app>
